<a href="https://colab.research.google.com/github/hemapriya0210/python-projects/blob/main/python_imp_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

i/p and o/p methods

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#input statement
#name=input()
#print(name)
#print(type(name))
age=int(input("enter your age :"))
print(age)
print(type(age))
num=float(input("enter your number :"))
print(type(num))

In [ ]:
a,b,c=input("enter 3 name : ").split()
print("",a)
print("",b)
print("",c)

enter 3 nameh e m
 h
 e
 m

comment line

In [ ]:
''' multi line
print(age)
print(type(age))
num=float(input("enter your number :"))
print(type(num))
'''
#num=float(input("enter your number :")) single line
print(type(num))

enter your number :20
<class 'float'>

In [ ]:
#used in the python 2x for getting user input
g = raw_input("Enter your name : ")
print(g)

NameError: name 'raw_input' is not defined

In [ ]:
s= "he\n is my frnd"
print(s.splitlines(True))
print(s.splitlines())
print(s)

['he\n', ' is my frnd']
['he', ' is my frnd']
he
 is my frnd

operators-1.arithmetic 2.assignment 3.comparsion
4.logical 5.bitwise

In [ ]:
#arimethic - used to do arithmetic operations
a=123
b=10
print(a+b) #add
print(a-b) #sub
print(a/b) #div
print(a//b) #floor(whole num)
print(a%b) #reminder
print(4**2) #expontiation

133
113
12.3
12
3
16

In [ ]:
#assignment- used to store values
a=120
a +=10
print(a)
a -=10
print(a)
#same for all

130
120

In [ ]:
#comparsion operator
a=20
b=10
print(a==b)#equal
print(a !=b) #not equal
print(a>b) #greater than
#a<b a<=b

False
True
True

In [ ]:
#logical operators
a=35
b = a>=15 and a<=30
c = a>=15 or a<=30
d=(not(a>=15 and a<=30))
print(d)
if(b==True):
  print(b,"satisfied")
else:
  print(c,"notsatisfied")

True
True notsatisfied

In [ ]:
#bitwise operator zeros and ones
a=12
b=11
print(a&b) #and
print(a|b) #or
print(a^b)

8
15

conditional statement
if
if else
elif
nested if

In [ ]:
#1.even or not
n=int(input("enter a no : \n"))
if (n % 2==0):
  print(n, "is a even no")
else:
  print(n,"odd no ")

enter a no :
13
13 odd no

In [ ]:
a=int(input("enter ur age : \n"))
n=input("enter ur name : \n")
print(n)
if(a>=18):
  print(a,"eli")
else:
  print(a,"not")

enter ur age :
8
enter ur name :


8 not

In [ ]:
#elif
n=input("enter ur name : ")
d=int(input("enter days : "))
if(d==0):
  print(d,n,"no fine")
elif(d>=1 and d<=5):
  print(d,n,"0.5 fine")
elif(d>=5 and d<=10):
  print(d,n,"1 fine")
elif(d>=10 and d<=30):
  print(d,n,"5 fine")
else:
  print(d,n,"5 membership cancelled")

enter ur name : h
enter days : 55
55 h 5 membership cancelled

In [ ]:
#nested if
n=input("enter ur name : ")
m1=int(input("enter mark1 : "))
m2=int(input("enter mark2 : "))
m3=int(input("enter mark3 : "))
t=m1+m2+m3
print(t)
a=t/3.0
print(a)1

if(m1>=35 and m2>=35 and m3>=35):
  print("pass")
  if(a>=90 and a<=100):
    print("A")
  elif(a>=80 and a<=89):
    print("B")
  elif(a>=70 and a<=69):
    print("c")
  else:
    print("D")
else:
  print("fail")

enter ur name : h
enter mark1 : 100
enter mark2 : 100
enter mark3 : 100
300
100.0
pass
A

looping
1.while
2.for

In [ ]:
i=1 #odd
while i<=10:
  print(i)
  i+=2

1
3
5
7
9

In [ ]:
print(list(range(0,20,2)))
print(list(range(1,20,2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#for loop
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(2):
  a=int(input("enter a no :"))
  b=int(input("enter a no :"))
  print(a+b)

enter a no :10
enter a no :20
30
enter a no :40
enter a no :50
90

In [ ]:
#nested for loop

In [46]:
#while else & for else
i=1
while i<=5:
  if(i==4):
    break
  i+=1
  print(i)

else:
  print("program terminated")

2
3
4

In [52]:
 #for else
for i in range(1,21):
  if(i==5):
    break
  print(i)
else:
  print("program terminated")

print("program terminated")

1
2
3
4
program terminated

functions
1.user def
2.built in
3.lamda
4.recursive

In [53]:
#1.userdefined
#no return no argument
def add():
  a=int(input("enter a"))
  b=int(input("enter b"))
  c=a+b
  print(c)
add()

enter a10
enter b20
30

In [55]:
#1.userdefined
# no return & argument
def sub(a,b):

  c=a-b
  print(c)
sub(20,30)

-10

In [61]:
#1.userdefined
#return no argument
def add():
  a=int(input("enter a"))
  b=int(input("enter b"))
  c=a+b
  return c
add()

enter a20
enter b20

40

In [62]:
#1.userdefined
# no return & argument
def sub(a,b):

  c=a-b
  return c
sub(20,30)

-10